<div ng-controller="MainController">
  <%= render "form" %>

  <div class="page-header" ng-cloak>
    <h3>Missing Events <small> . Events from Wikipedia and not in our db. Select a Month & Day</small></h3>
  </div>

  <ul class="nav nav-tabs" ng-cloak>
    <li ng-click="setMissingCategory(id)" ng-repeat="(id, name) in category_mapping" ng-class="{active:$index===0}" >
      <a href="#{{category_mapping[id]}}" data-toggle="tab">{{category_mapping[id]}} ( {{missingEvents[id].length}} )</a>
    </li>
    <li class="pull-right" ng-class="{disabled:!fetched}"> 
      <a class="btn btn-primary" eat-click href="#" ng-click="addMissingEventsInCategory()">Add missing {{category_mapping[curMissingCategory]}}</a>
    </li>
  </ul>

  <div class="tab-content" ng-cloak>
    <div ng-class="{active:$index==0}" class="tab-pane" ng-repeat="(category_id, missEvents) in missingEvents" id="{{category_mapping[category_id]}}"> 
      <div class="list-group">
        <div class="list-group-item" ng-show="fetched && missingEvents[category_id].length == 0">
          Added all {{category_mapping[category_id]}} to database
        </div>
        <div class="list-group-item single-event" ng-repeat="event in missEvents">
          <div class="row">
            <div class="col-md-1 label label-default" ng-bind="event.src | iif : event.src : 'DB'"></div>
            <div class="col-md-1">{{event.year | convertToGeroginYear}}</div>
            <div class="col-md-10">
              <span ng-show="event.name">{{event.name + ' - '}}</span>
              <span ng-bind-html="event.event | unsafe"></span>
            </div>
            <div class="pull-right event-actions">
              <a href="#" eat-click ng-click="addMissingEventsInCategory(event)">Add event</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Start of duplicate events pane -->
  <div class="page-header" ng-cloak>
    <h3>Duplicate Events <small>Events from Wikipedia that matches with those in db. Select a Month & Day.</small></h3>
  </div>

  <ul class="nav nav-tabs" ng-cloak >
    <li ng-click="setDuplicateCategory(id)" ng-repeat="(id, name) in category_mapping" ng-class="{active:$index===0}" >
    <a href="#dup_{{category_mapping[id]}}" data-toggle="tab">{{category_mapping[id]}} ({{duplicateCount[id]}})</a>
    </li>
    <li class="pull-right" ng-class="{disabled:!fetched}"> 
      <a class="btn btn-primary" eat-click href="#" ng-click="addDuplicateEventsInCategory()">Add Links from {{category_mapping[curDuplicateCategory]}}</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" ng-cloak >
    <div ng-class="{active:$index==0}" class="tab-pane" ng-repeat="(category_id, dupEvents) in duplicateEvents" id="dup_{{category_mapping[category_id]}}"> 
      <div class="list-group">
        <div class="list-group-item single-event" ng-repeat="(id,event) in dupEvents">
          <div class="row">
            <div class="col-md-1 label label-default" ng-bind="event.src | iif : event.src : 'DB'"></div>
            <div class="col-md-1">{{event.year | convertToGeroginYear}}</div>
            <div class="col-md-10">
              <span ng-show="event.name">{{event.name + ' - '}}</span>
              <span ng-bind-html="event.event | unsafe"></span>
            </div>
          </div>
          <div class="list-group-item duplicate-item" ng-repeat="duplicate in event.duplicates" ng-show="event.duplicates">
            <div class="row">
              <div class="col-md-1 label label-default" ng-bind="duplicate.src | iif : duplicate.src : 'DB'"></div>
              <div class="col-md-1">{{duplicate.year | convertToGeroginYear}}</div>
              <div class="col-md-10">
                <span ng-show="duplicate.name">{{event.name + ' - '}}</span>
                <span ng-bind-html="duplicate.event | unsafe"></span>
              </div>
              <div class="pull-right event-actions">
                <a href="#" eat-click ng-click="addDuplicateEventsInCategory(duplicate)">Add duplicate</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
