<div ng-controller="MainController">
  <%= render "form" %>

  <ul class="nav nav-tabs" ng-cloak ng-show="events">
    <li ng-repeat="(id, name) in category_mapping"><a href="#{{category_mapping[id]}}" data-toggle="tab">{{category_mapping[id]}}</a></li>
    <li class="pull-right disabled"><a eat-click>Status:{{status}} </a></li>
  </ul>


  <!-- Tab panes -->
  <div class="tab-content" ng-cloak ng-show="events">
    <div ng-class="{active:$index==0}" class="tab-pane" ng-repeat="(category_id, event_hash) in events" id="{{category_mapping[category_id]}}"> 
      <div class="list-group">
        <div class="list-group-item single-event" ng-repeat="(id, event) in event_hash">
          <div class="row">
            <div class="col-md-1 label label-default" ng-bind="event.src | iif : event.src : 'DB'"></div>
            <div class="col-md-1">{{event.year | convertToGeroginYear}}</div>
            <div class="col-md-10">
              <span ng-show="event.name">{{event.name + ' - '}}</span>
              <span ng-bind-html="event.event | unsafe"></span>
            </div>
          </div>
          <div class="list-group-item duplicate-item" ng-repeat="duplicate in event.duplicates" ng-show="event.duplicates">
            <div class="row">
              <div class="col-md-1 label label-default" ng-bind="duplicate.src | iif : duplicate.src : 'DB'"></div>
              <div class="col-md-1">{{duplicate.year | convertToGeroginYear}}</div>
              <div class="col-md-10">
                <span ng-show="duplicate.name">{{event.name + ' - '}}</span>
                <span ng-bind-html="duplicate.event | unsafe"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
