
ul.nav.nav-tabs{
  padding-top:30px;
}

.single-event:hover{
  @include gradient-vertical(#EEEEEE,#EEEEEE, 0%, 100%);
}

.event-actions{
  position:absolute;
  right:0px;
  display:none;
  padding:0px 10px 0px 10px;
  @include gradient-vertical(#EEEEEE,#EEEEEE, 0%, 100%);
}

.list-group-item.single-event:hover .event-actions{
  display:block;
}

.list-group-item.single-event:hover .duplicate-item .event-actions,
.single-event .duplicate-item:hover .event-actions{
  @include gradient-vertical(#FFFFFF,#FFFFFF, 0%, 100%);
}

.nav > li > a:hover, .nav > li > a:focus{
  background-color:#3276B1;
}

.form-inline{
  position:relative;
}

.status-div{
  padding:10px 0px;
  font-size:21px;
  font-weight: 200;
  line-height: 1.4;
  text-align:center;
}
